{
  "root": true,
  "extends": ["plugin:vue/essential", "@vue/standard", "@vue/typescript"],
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "space-before-function-paren": ["error", "never"]
  }
}
